services:
  db:
    image: postgres:16
    container_name: mojo-books-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 20

  app:
    image: mojo-books:dev
    container_name: mojo-books-app
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "3000:3000"
    volumes:
      - .:/app/
    # command: ["perl", "script/mojo_books", "daemon", "--listen", "http://*:3000"]
    command: ["morbo", "-l", "http://0.0.0.0:3000", "script/mojo_books"]

volumes:
  pgdata:

